.nav-detail-enter-active {
    transition: all .5s ease-in-out;
}

.nav-detail-leave-active {
    transition: all .5s ease-in-out;
}

.nav-detail-enter,
.nav-detail-leave-to {
    opacity: 0;
    /* transform: translateX(-20px); */
}

.search-leave-active,
.search-enter-active {
    transition: width .3s ease-in-out;
}

.search-leave,
.search-enter-to {
    width: 190px;
}

.search-enter,
.search-leave-to {
    width: 0px;
}

.active {
    border: solid 1px #E9E9E9;
    border-right: none;
}
