
body {
    font-family: 'Georgia', '游明朝', 'YuMincho', "Hiragino Mincho ProN", 'Meiryo', serif;
    font-size: 17px;
    color: #4D4D4D;
    margin:60px 40px;
}

/* Header Area */
header {
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;
    flex-wrap: wrap;

    max-width: 1035px;
    margin: auto;
}

/* title */
#title {
    padding: 0;
}
#title h2 {
    margin-bottom: 6px;
}
#title h2 a {
    color: black;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
#title h2 a:hover {
    opacity: .8;
}
#title h3 {
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    vertical-align: middle;
}

/* navigation area */
#nav {
    /* プレフレックスを付ける場合は、専用のオプションcssを必ず付ける */
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;
	-webkit-box-align: end;
	-ms-flex-align: end;
    align-items: flex-end;
    position: relative;
}
#nav ul {
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;

    text-decoration: none;
    list-style-type: none;

    margin: 0;
    padding: 0;
}
#nav ul li {
    margin-right: 30px;
    height: 100%;
    position: absolute;
    top: -10px;
}
#nav ul li a {
    color: #4D4D4D;
    text-decoration: none;
    word-wrap: break-word;
}
#nav ul li a:hover{
    color: #DAA520;
}
#nav ul li span {
    padding-bottom: 30px;
}

/* drop-dwon */
#nav > ul >li{
    position: relative;
}

#nav ul li span ul {
    display: block;
    position: absolute;
    top:100%;
    left: -20px;
    list-style-type: none;
    width: 230px;
    z-index:1;
    margin-top: 20px;
}

#nav ul li span ul li {
    position: relative;
    padding: 10px;
    height: 100%;
    word-wrap: break-word;
    border: solid 1px #EEEEEE;
    background-color: white;
}
#nav ul li span ul li a {
    color: #4D4D4D;
    text-decoration: none;
    word-wrap: break-word;
}
#nav ul li span ul li a:hover {
    color: #DAA520;
}

/* search area */
#search-area {
    position: absolute;
    right: 0px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}


/* header image */
.header-img {
    margin-top: 74px;
    padding: 0;
}
.header-img img {
    width: 100%;
}


/* Main ara */
main {
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;
    flex-wrap: wrap;

    max-width: 1035px;
    margin: auto;
}
/* site detail */
.site-detail {
    margin: 100px 0;
    width: 100%;
}
.site-detail p {
    font-size: 27px;
    line-height: 1.8;
    color: #777777;
}

/* article */
.post-area {
    margin: 0 10px;
}
.post header h3 {
    font-size: 22px;
    font-weight: 700;
    color: #111111;
    width: 100%;
    margin: 3px 0;
}
.post header p {
    font-size:17px;
    color: #999999;
    font-weight: 400;
    width: 100%;
    margin: 3px 0;
}
.post {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.post header {
    width: 100%;
    margin: 10px 0;
}
.post .koji {
    width: 100%;
    margin: 10px 0;
}

/* pagination */
.pagination {
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.pagination ul  {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.pagination ul li{
    width: 45px;
    height: 45px;
    font-size: 17px;
    text-decoration: none;
    list-style-type: none;
    border: solid 1px #DDDDDD;
    margin-right: 10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.pagination ul li:last-child{
    width: 70px;
    height: 45px;

}
.pagination ul li:first-child {
    font-weight: 700;
    background-color: #EEEEEE;
}
.pagination ul li a {
    color: #333333;
}

/* Footer Area */
footer {
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;
    flex-wrap: wrap;

    max-width: 1035px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* profile */
.profile,
.footer-right,
.recent-article,
.category {
    width: 100%;
    height: 100%;
}

.profile {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-img img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.profile-img{
    float: left;
}
.profile-media {
    float: left;
}
.profile-img-media:after {
    content: "";
    display: block;
    clear: both;
}
.profile-sns p:first-child {
    margin-left: 20px;
}
.profile-sns p{
    float: left;
    margin-left: 10px;
}
.profile-sns p a {
    color: #666666;
    font-size: 17px;
}
.profile-name h3 {
    font-size: 19px;
    font-weight: 600;
}
.profile-name {
    margin-left: 20px;
    margin-top: 20px;
}
.profile-text {
    margin: 30px 0;
}
.profile-text p{
    color: #666666;
}

/* footer right */
.footer-right {
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-right h3 {
    font-size: 14px;
    font-weight: 700;
}
.footer-right p {
    font-size: 16px;
    margin-top: 40px;
    color: #666666;
}
/* resent article */
.recent-article{
    margin-top: 30px;
    margin-bottom: 30px;
}
.recent-article h3 {
    font-size: 14px;
    font-weight: 700;
}
.recent-article-area {
    margin-top: 40px;
}
.recent-article-area article h4 {
    display: inline;
    font-size: 17px;
    border-bottom: solid 1px #dddddd;
}
.recent-article-area article h4 a {
    color: #666666;
    text-decoration: none;
}
.recent-article-area article h4 a:hover{
    color: #DAA520;
}
.recent-article-area article p {
    font-size: 15px;
    color: #999999;
}

.category {
    margin-top: 30px;
    margin-bottom: 30px;
}
.category h3 {
    font-size: 14px;
    font-weight: 700;
}
.footer-post-area {
    margin-top: 40px;
}
.footer-post-area p a {
    color: #666666;
    border-bottom: solid 1px #dddddd;
}
#footer-search{
    margin-top: 100px;
}

.line {
    width: 100%;
}

/* bottom-footer */
.bottom-footer {
    width: 100%;
}
.bottom-footer hr {
    width: 100%;
}
.bottom-footer .bottom-text p{
    font-size: 16px;
    color: #999999;
}
.bottom-area {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 60px;
}
.bottom-area .profile-sns {
    width: 100%
}

.humberger {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  box-sizing: border-box;
}
.humberger-area {
    position: absolute;
    right: 0px;
    display: none;
    z-index: 1;
}
.humberger span {
    position: absolute;
    left: 0;
    height: 1px;
    width: 40px;
    background-color: #444;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
}
.humberger span:nth-of-type(1) {
    top: 0;
    transition: .6s;
    /* transform: rotate(45deg); */
}
.humberger span:nth-of-type(2) {
    top: 11px;
    transition: .6s;
    /* display: none; */
}
.humberger span:nth-of-type(3) {
    bottom: 0;
    transition: .6s;
    /* transform: rotate(-45deg); */
}

.active-humberger span:nth-of-type(1) {
    top: 11px;
    transform: rotate(45deg);
    transition: .6s;
}

.active-humberger span:nth-of-type(2) {
    display: none;
    transition: .6s;
}

.active-humberger span:nth-of-type(3) {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: .6s;
}



.menu{
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul {
    font-size: 23px;
}

.menu ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.menu ul li {
    list-style-type: none;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    margin: 20px 0;
}

.menu ul li ul li {
    font-size: 18px;
    margin: 10px 0;
}

.menu ul li a {
    color: #111111;
    text-align: center;
    font-weight: 400;
}
.menu ul li a:hover{
    color: #DAA520;
}

@media screen and (max-width:768px) {
    /*スマホ用のcssを記述*/
    body{
        margin: 30px 0;
    }
    header {
        width: 100%;
        margin: 0;
    }
    #title {
        margin-left: 10px;
    }
    .site-detail {
        margin: 100px 10px;
    }
    .site-detail p {
        font-size: 23px;
    }
    footer {
        margin: 0 15px;
    }
    .bottom-area .profile-sns p:first-child {
        margin-left: 0;
    }

    .bottom-area .profile-sns {
        padding: 0;
    }
    .humberger-area {
        display: block;
        position: absolute;
        right: 40px;
    }
    #nav {
        display: none;
    }
}
    
@media screen and (max-width:991px) and (min-width:769px) {
    /*タブレット用のcssを記述*/
    #title {
        width: 100%;
    }
    
    #nav {
        width: 100%;
        margin-top: 30px;
    }
    .bottom-area .profile-sns p:first-child {
        margin-left: 0;
    }

    .bottom-area .profile-sns {
        padding: 0;
    }
}

@media screen and (min-width:992px) {
    /*pc用のcssを記述*/
    #title {
        width: 30%;
    }

    #nav {
        width: 70%;
    }

    /* article */
    .post {
        width: 100%;
        margin: 70px 0;
        padding: 0;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .post header {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .post .koji {
        margin: 15px 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .post .koji p {
        width: 67%;
        margin: 0;
        padding: 0;
        display: block;
    }
    .post header p {
        display: block;
        width: 33%;
    }
    .post header h3 {
        display: block;
        width: 67%;
    }
    .profile{
        width: 30%;
        padding-right: 40px;
        margin-bottom: 100px;
    }
    .footer-right,
    .recent-article,
    .category {
        width: 23%;
        height: 100%;
    }

    .footer-right {
        padding: 0 20px;
    }
    .recent-article {
        padding: 0 20px;
    }
    .category{
        padding: 0 20px;
    }

    .bottom-area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
    }
    .bottom-area .profile-sns p:first-child {
        margin-left: 0;
    }
    .bottom-area .profile-sns {
        padding: 0;
        position: absolute;
    }
    .bottom-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 500px;
    }
}
