
body {
    font-family: 'Georgia', '游明朝', 'YuMincho', "Hiragino Mincho ProN", 'Meiryo', serif;
    font-size: 17px;
    color: #4D4D4D;
    margin:60px 40px;
}

/* Header Area */
header {
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;
    flex-wrap: wrap;

    max-width: 1035px;
    margin: auto;
}

/* title */
#title {
    padding: 0;
}
#title h2 {
    margin-bottom: 6px;
}
#title h2 a {
    color: black;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
#title h2 a:hover {
    opacity: .8;
}
#title h3 {
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    vertical-align: middle;
}

/* navigation area */
#nav {
    /* プレフレックスを付ける場合は、専用のオプションcssを必ず付ける */
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;
	-webkit-box-align: end;
	-ms-flex-align: end;
    align-items: flex-end;
    position: relative;
}
#nav ul {
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;

    text-decoration: none;
    list-style-type: none;

    margin: 0;
    padding: 0;
}
#nav ul li {
    margin-right: 30px;
    height: 100%;
    position: absolute;
    top: -10px;
}
#nav ul li a {
    color: #4D4D4D;
    text-decoration: none;
    word-wrap: break-word;
}
#nav ul li a:hover{
    color: #DAA520;
}
#nav ul li span {
    padding-bottom: 30px;
}

/* drop-dwon */
#nav > ul >li{
    position: relative;
}

#nav ul li span ul {
    display: block;
    position: absolute;
    top:100%;
    left: -20px;
    list-style-type: none;
    width: 230px;
    z-index:1;
    margin-top: 20px;
}

#nav ul li span ul li {
    position: relative;
    padding: 10px;
    height: 100%;
    word-wrap: break-word;
    border: solid 1px #EEEEEE;
    background-color: white;
}
#nav ul li span ul li a {
    color: #4D4D4D;
    text-decoration: none;
    word-wrap: break-word;
}
#nav ul li span ul li a:hover {
    color: #DAA520;
}

/* search area */
#search-area {
    position: absolute;
    right: 0px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}


/* header image */
.header-img {
    margin-top: 74px;
    padding: 0;
}
.header-img img {
    width: 100%;
}


/* Main ara */
main {
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;
    flex-wrap: wrap;

    max-width: 1035px;
    margin: auto;
}
/* site detail */
.site-detail {
    margin: 100px 0;
    width: 100%;
}
.site-detail p {
    font-size: 27px;
    line-height: 1.8;
    color: #777777;
}

/* article */
.post-area {
    margin: 0 10px;
}
.post header h3 {
    font-size: 22px;
    font-weight: 700;
    color: #111111;
    width: 100%;
    margin: 3px 0;
}
.post header p {
    font-size:17px;
    color: #999999;
    font-weight: 400;
    width: 100%;
    margin: 3px 0;
}
.post {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.post header {
    width: 100%;
    margin: 10px 0;
}
.post .koji {
    width: 100%;
    margin: 10px 0;
}

/* pagination */
.pagination {
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.pagination ul  {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.pagination ul li{
    width: 45px;
    height: 45px;
    font-size: 17px;
    text-decoration: none;
    list-style-type: none;
    border: solid 1px #DDDDDD;
    margin-right: 10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.pagination ul li:last-child{
    width: 70px;
    height: 45px;

}
.pagination ul li:first-child {
    font-weight: 700;
    background-color: #EEEEEE;
}
.pagination ul li a {
    color: #333333;
}

/* Footer Area */
footer {
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;
    flex-wrap: wrap;

    max-width: 1035px;
    margin: auto;
}


@media screen and (max-width:768px) {
    /*スマホ用のcssを記述*/
    body{
        margin: 30px 0;
    }
    header {
        width: 100%;
        margin: 0;
    }
    .site-detail {
        margin: 100px 10px;
    }
    .site-detail p {
        font-size: 23px;
    }
}
    
@media screen and (max-width:991px) and (min-width:769px) {
    /*タブレット用のcssを記述*/
    #title {
        width: 100%;
    }
    
    #nav {
        width: 100%;
        margin-top: 30px;
    }
}

@media screen and (min-width:992px) {
    /*pc用のcssを記述*/
    #title {
        width: 30%;
    }

    #nav {
        width: 70%;
    }

    /* article */
    .post {
        width: 100%;
        margin: 70px 0;
        padding: 0;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .post header {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .post .koji {
        margin: 15px 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .post .koji p {
        width: 67%;
        margin: 0;
        padding: 0;
        display: block;
    }
    .post header p {
        display: block;
        width: 33%;
    }
    .post header h3 {
        display: block;
        width: 67%;
    }

    .profile {
        width: 25%;
        margin: 0;
    }
    .footer-right {
        width: 25%;
        margin: 0;
    }
    .recent-article {
        width: 25%;
        margin: 0;
    }
    .category {
        width: 25%;
        margin: 0;
    }
    .bottm-footer{
        width: 100%;
    }
    .line {
        width: 100%;
    }
}




/* 
body {
    font-family: 'Georgia', '游明朝', 'YuMincho', "Hiragino Mincho ProN", 'Meiryo', serif;
    font-size: 17px;
    color: #4D4D4D;
    margin:60px 40px;
}

header {
    display: flex;
    max-width: 700px;
    padding: 0;
    margin: 0 auto;
}
.nav-area {
    width: 100%;
}

#title {
    height: 100px;
}
#title h2{
    margin-bottom: 6px;
    padding: 0;
}

#title h2 a {
    color: black;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#title h2 a:hover {
    opacity: 0.6;
}

#title h3 {
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    vertical-align: middle;
}

nav {
    display: flex;
    margin: 0;
}

#nav {
    display: -webkit-flex;
    display: flex;
    height: 40px;
}

#nav > ul{
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    padding-left: 60px;
    position: relative;
    top: -10px;
}

#nav ul li {
    margin-right: 15px;
}

#nav ul li a {
    color: #4D4D4D;
    text-decoration: none;
}

#nav ul li a:hover{
    color: #DAA520;
}

#nav>ul>li {
    position: relative;
}

#nav ul li span {
    padding-bottom: 16px;
}

.drop-down {
    position: absolute;
    top:100%;
    left:-100%;
    list-style-type: none;
}

.drop-down li {
    width: 220px;
    border: solid 1px #EEEEEE;
    background-color: white;
    vertical-align: middle;
}

.drop-down li a {
    display: block;
    margin: 15px;
    color: #4D4D4D;
    text-decoration: none;
}

.drop-down li a :hover {
    color: #DAA520;
}

#search {
    display: flex;
    float: right;
    position: absolute;
    bottom: 20px;
    right: 15px;
    padding: 0;
    margin: 0;
}

#search span {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
}

#search input {
    height: 40px;
    padding: 0;
    margin: 0;
    border: solid 1px #E9E9E9;
    border-left: none;
}

.header-img{
    margin-top: 70px;
}

.header-img img{
    max-width: 100%;
}

@media screen and (min-width: 980px){
    header  {
        max-width: 1035px;
    }
    
    nav {
        display: flex;
        align-items: flex-end;
    }

    #nav {
        display: -webkit-flex;
        display: flex;
        justify-content: flex-end;
        height: 40px;
    }
    #nav ul li {
        margin-right: 25px;
        padding: 0;
    }

    #search {
        display: flex;
        float: right;
        position: absolute;
        bottom: 20px;
        padding: 0;
        margin: 0;
    }
}  */